body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.carousel{
    max-height:300px;
}

.carouselwrapper{
  margin-left: 50%;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  border-left: rgb(212, 212, 212);
  border-left-width: 1px;
  border-left-style: solid;
  margin-top: 10%;  
  margin-bottom: 50px;  
}

@font-face {
  font-family: "Caslon";
  src: url("./../assets/Caslon/Caslon.otf") format("truetype");
}

h3.PastClients{
  color: rgb(59, 59, 59);
  font-family: "Caslon";
  font-style: italic;
}

.slogan{
  width: 100%;
  height: inherit;
  padding-top: 6%;
}

.firstLook{
  width: 50%;
  float: left;
  overflow: hidden;  
}

.head{
  overflow: hidden;  
  height: 500px;
}

.bigblock {
  margin-left: 0px
}

header {
  height: 100px;
}
